<div class="toolbar">
    <div class="col">
        <div class="image">
            <span class="material-symbols-outlined">
                    menu_book
                </span>
        </div>
        <div class="book">
            <span>Bookstore</span>
        </div>
        <div class="image1">

        </div>
        <div class="text-box">

            <input type="text" placeholder="Search">
        </div>
        <div class="person">
            <span class="material-symbols-outlined">
                person
                </span>
        </div>
        <div class="cart">
            <span class="material-symbols-outlined">
                shopping_cart
                </span>
        </div>
    </div>
</div>
<div class="main">
    <div class="home">
        Home/Profile
    </div>
</div>