<div class="toolbar">
    <div class="col">
        <div class="image">
            <span class="material-symbols-outlined">
                    menu_book
                </span>
        </div>
        <div class="book">
            <span>Bookstore</span>
        </div>
        <div class="image1">

        </div>
        <div class="text-box">

            <input type="text" placeholder="Search">
        </div>
        <div class="person">
            <span class="material-symbols-outlined">
                person
                </span>
        </div>
        <div class="cart">
            <span class="material-symbols-outlined">
                shopping_cart
                </span>
        </div>
    </div>
</div>
<div class="main">
    <div class="home">
        Home/Profile
    </div>
</div>
<div class="per">
    <div class="title">Personal Details</div>
    <div class="edit">Edit</div>
</div>
<div class="all">
    Full Name
    <div class="textt">
        <input type="text" id="textbox" name="textbox">
    </div>
    Email Id
    <div class="textt">
        <input type="text" id="textbox" name="textbox">
    </div>
    Password
    <div class="textt">
        <input type="text" id="textbox" name="textbox">
    </div>
    Mobile Number
    <div class="textt">
        <input type="text" id="textbox" name="textbox">
    </div>
</div>
<div class="address">
    <div class="details">
        Address Details
    </div>
    <button class="new">Add New Address</button>
</div>
<div class="work">
    <div class="work1">1.WORK</div>
    <div class="edit1">Edit</div>
</div>
<div class="aaa">Address
</div>
<div class="texttt">
    <input type="text" id="textboxx" name="textboxx">
    <div class="both">
        <div class="city">city/town
            <div class="cityt">
                <input type="text" id="textboxx" name="textboxx">
            </div>
        </div>
        <div class="state">State
            <div class="statet">
                <input type="text" id="textboxx" name="textboxx">
            </div>
        </div>
    </div>
</div>
<div class="type">
    Type
    <div class="options">
        <div class="options1">
            <input type="radio" id="option1" name="options" class="custom-radio">
            <label for="option1">Home</label>
        </div>
        <div class="options2">
            <input type="radio" id="option2" name="options" class="custom-radio">
            <label for="option2">Work</label>
        </div>
        <div class="options3">
            <input type="radio" id="option3" name="options" class="custom-radio">
            <label for="option3">Other</label>
        </div>
    </div>
</div>

<div class="submitb">
    <button class="submitt">
        SUBMIT
    </button>
</div>