<div class="toolbar">
    <div class="col">
        <div class="image">
            <span class="material-symbols-outlined">
                    menu_book
                </span>
        </div>
        <div class="book">
            <span>Bookstore</span>
        </div>
    </div>
</div>
<div class="forgot">
    Forgot Your Password?
</div>
<div class="box">
    <div class="content">
        Enter your email address and we will send you <br>a link to reset a password
        <form [formGroup]="forgotForm" (ngSubmit)="ForgotSubmit()">
            <div class=" email ">Email Id</div>
            <div class="text-box ">
                <input type="text " placeholder="Enter your Email here " formControlName="email">
            </div>
            <button class="reset " (click)="ForgotSubmit()" type="submit">
            Reset Password
        </button>
            <button class="create-box ">
            <div class="create ">
                CREATE ACCOUNT
            </div>
        </button>
        </form>
    </div>
</div>