<div class="im">
    <img src="assets\Screenshot 2024-04-04 093224.png">
</div>
<div class="content">
    <div class="firstline">
        hurray your order is confirmed
    </div>
    <div class="secondline">
        the order id is #123456 save the order id for
    </div>
    <div class="thirdline">
        further communication..
    </div>
</div>
<div class="bigbox">
    <div class="smallbox1">
        <div class="us">
            <div class="emailus">
                Email us
            </div>
            <div class="contactus">
                Contact us
            </div>
            <div class="address">
                Address
            </div>
        </div>
    </div>
    <div class="smallbox2">
    </div>
</div>
<div class="shopping">
    <button class="cart">
        CONTINUE SHOPPING
        </button>
</div>