<div class="toolbar">
    <div class="col">
        <div class="image">
            <span class="material-symbols-outlined">
                    menu_book
                </span>
        </div>
        <div class="book">
            <span>Bookstore</span>
        </div>
        <div class="image1">

        </div>
        <div class="text-box">

            <input type="text" placeholder="Search">
        </div>
        <div class="person">
            <span class="material-symbols-outlined">
                person
                </span>
        </div>
        <div class="cart">
            <span class="material-symbols-outlined">
                shopping_cart
                </span>
        </div>
    </div>
</div>
<div class="main">
    PLEASE LOG IN
</div>
<div class="view">
    Login to view your items in your wishlist
</div>
<div class="logimage">
    <img src="assets\Page-1.png" alt="image">
</div>

<div class="but">
    <button class="loginsign">
        LOGIN/SIGNUP
    </button>
</div>