<div class="toolbar">
    <div class="col">
        <div class="image">
            <span class="material-symbols-outlined">
                    menu_book
                </span>
        </div>
        <div class="book">
            <span>Bookstore</span>
        </div>
        <div class="image1">

        </div>
        <div class="text-box">

            <input type="text" placeholder="Search">
        </div>
        <div class="person">
            <span class="material-symbols-outlined">
                person
                </span>
        </div>
        <div class="cart">
            <span class="material-symbols-outlined">
                shopping_cart
                </span>
        </div>
    </div>
</div>

<div class="toolbar1">
    <div class="col1">
        <div class="book1">
            <span>Books</span>
        </div>
        <div class="text-box1">
            (8)items
        </div>
        <div class="person1">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Sort by reference
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </div>

    </div>
</div>
<div class="main">
    <div class="grid-item1">
        <div class="image1">
            <img src="assets/Image 11.png" alt="Image">
        </div>
        <div class="content1">
            Dont make me think
            <div class="content2">
                by Steve King
            </div>
            <div class="rating">
                <p>4.5</p>
                <span class="material-symbols-outlined">
                    star
                </span>
            </div>
            <div class="rate">
                Rs. 1500
            </div>
        </div>
    </div>
    <div class="grid-item2">
        <div class="image1">
            <img src="assets/Image 36.png" alt="Image">
        </div>
        <div class="content1">
            Dont make me think
            <div class="content2">
                by Steve King
            </div>
            <div class="rating">
                <p>4.5</p>
                <span class="material-symbols-outlined">
                star
            </span>
            </div>
            <div class="rate">
                Rs. 1500
            </div>
        </div>
    </div>
    <div class="grid-item3">
        <div class="image1">
            <img src="assets/Image 14.png" alt="Image">
        </div>
        <div class="content1">
            Dont make me think
            <div class="content2">
                by Steve King
            </div>
            <div class="rating">
                <p>4.5</p>
                <span class="material-symbols-outlined">
            star
        </span>
            </div>
            <div class="rate">
                Rs. 1500
            </div>
        </div>
    </div>
    <div class="grid-item4">
        <div class="image1">
            <img src="assets/Image 10.png" alt="Image">
        </div>
        <div class="content1">
            Dont make me think
            <div class="content2">
                by Steve King
            </div>
            <div class="rating">
                <p>4.5</p>
                <span class="material-symbols-outlined">
        star
    </span>
            </div>
            <div class="rate">
                Rs. 1500
            </div>
        </div>
    </div>
    <div class="grid-item5">
        <div class="image1">
            <img src="assets/Image 23.png" alt="Image">
        </div>
        <div class="content1">
            Dont make me think
            <div class="content2">
                by Steve King
            </div>
            <div class="rating">
                <p>4.5</p>
                <span class="material-symbols-outlined">
                    star
                </span>
            </div>
            <div class="rate">
                Rs. 1500
            </div>
        </div>
    </div>
    <div class="grid-item6">
        <div class="image1">
            <img src="assets/Image 18.png" alt="Image">
        </div>
        <div class="content1">
            Dont make me think
            <div class="content2">
                by Steve King
            </div>
            <div class="rating">
                <p>4.5</p>
                <span class="material-symbols-outlined">
                star
            </span>
            </div>
            <div class="rate">
                Rs. 1500
            </div>
        </div>
    </div>
    <div class="grid-item7">
        <div class="image1">
            <img src="assets/Image 12.png" alt="Image">
        </div>
        <div class="content1">
            Dont make me think
            <div class="content2">
                by Steve King
            </div>
            <div class="rating">
                <p>4.5</p>
                <span class="material-symbols-outlined">
            star
        </span>
            </div>
            <div class="rate">
                Rs. 1500
            </div>
        </div>
    </div>
    <div class="grid-item8">
        <div class="image1">
            <img src="assets/Image 7.png" alt="Image">
        </div>
        <div class="content1">
            Dont make me think
            <div class="content2">
                by Steve King
            </div>
            <div class="rating">
                <p>4.5</p>
                <span class="material-symbols-outlined">
        star
    </span>
            </div>
            <div class="rate">
                Rs. 1500
            </div>
        </div>
    </div>
</div>