<div class="first">
    <div class="imagee">
        <img src="assets/2766594.png" alt="Image">
        <div class="content">
            ONLINE BOOK SHOPPING
        </div>
    </div>
</div>
<div class="second">
    <mat-tab-group>
        <mat-tab label="LOGIN">
            <div class="next">
                <div class="email">Email Id
                    <div class="text-box">
                        <input type="text" placeholder="Enter your email">
                    </div>
                </div>
                <div class="password">Password
                    <div class="text-box1">
                        <input type="text" placeholder="Enter your Password">
                    </div>
                </div>
                <div class="forget">Forget Password?</div>
                <div class="button">
                    <button class="but">
                    Login
                </button>
                </div>
                <div class="or">
                    OR
                </div>
                <div class="fg">
                    <button class="facebook">
                Facebook
                </button>
                    <button class="google">
                    Google 
                </button>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="SIGNUP">

        </mat-tab>

    </mat-tab-group>


</div>