        .first {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 250px;
            width: 250px;
            border: 1px solid black;
            margin-left: 350px;
            margin-top: 160px;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            justify-content: center;
            background: #F5F5F5 0% 0% no-repeat padding-box;
        }
        
        .first img {
            width: 50%;
            height: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: 60px;
            border-radius: 30px;
        }
        
        .content {
            margin-left: 25px;
            margin-top: 40px;
            font-weight: bold;
        }
        
        .second {
            position: absolute;
            top: 120px;
            left: 600px;
            width: 350px;
            height: 350px;
            border: 1px solid black;
            border-radius: 15px;
            background-color: white;
            display: flex;
            flex-direction: column;
        }
        
        .login {
            margin-top: 30px;
            margin-left: 50px;
            font-size: 20px;
        }
        
        .both {
            height: 60px;
            width: 200px;
            display: flex;
        }
        
        .signup {
            margin-left: 100px;
            margin-top: 29px;
            font-size: 20px;
        }
        
        .email {
            margin-top: 10px;
            margin-left: 50px;
            font-size: 15px;
        }
        
        .text-box input {
            height: 30px;
            width: 250px;
        }
        
        .password {
            margin-top: 10px;
            margin-left: 50px;
        }
        
        .text-box1 input {
            height: 30px;
            width: 250px;
        }
        
        .forget {
            margin-top: 5px;
            font-size: 13px;
            margin-left: 220px;
            color: #9D9D9D;
            cursor: pointer;
        }
        
        .but {
            //     margin-left: 155px;
            width: 220px;
            height: 30px;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            //     background-color: aqua;
            background-color: #A03037;
            color: white;
            cursor: pointer;
        }
        
        .button {
            margin-top: 10px;
            // margin-left: 85px;
            // margin-right: 20px; //width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .or {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
        }
        
        .fg {
            margin-top: 20px;
            margin-left: 45px;
        }
        
        .google {
            margin-left: 5px;
            height: 30px;
            width: 125px;
            background-color: #F5F5F5;
        }
        
        .facebook {
            background-color: #4266B2;
            color: white;
            height: 30px;
            width: 125px;
        }