<div class="toolbar">
    <div class="col">
        <div class="image">
            <span class="material-symbols-outlined">
                    menu_book
                </span>
        </div>
        <div class="book">
            <span>Bookstore</span>
        </div>
        <div class="image1">

        </div>
        <div class="text-box">

            <input type="text" placeholder="Search">
        </div>
        <div class="person">
            <span class="material-symbols-outlined">
                person
                </span>
        </div>
        <div class="cart">
            <span class="material-symbols-outlined">
                shopping_cart
                </span>
        </div>
    </div>
</div>

<div class="ma">
    <div class="home">Home</div>
    <p class="profile">/My Order</p>
</div>
<div class="order">

    <div class="grid-item1">
        <div class="image1">
            <img src="assets/Image 11.png" alt="Image">
        </div>
        <div class="content1">
            Dont make me Think
            <div class="content2">
                by Steve King
            </div>
            <div class="rate">
                Rs. 1500
            </div>
        </div>
        <div class="placed">
            Order placed on May 21
        </div>
    </div>
    <div class="grid-item2">
        <div class="image1">
            <img src="assets/Image 36.png" alt="Image">
        </div>
        <div class="content1">
            React Material UI
            <div class="content2">
                by Cook Book
            </div>
            <div class="rate">
                Rs. 780
            </div>
        </div>
        <div class="placed">
            Order placed on April 06
        </div>
    </div>