<div class="main">
    <div class="mainl">
        <div class="start">
            <div class="home">Home</div>
            <div class="book">/ Book(04)</div>

        </div>
        <div class="smallimg">
            <div class="small">
                <img src="assets/Image 7.png">
                <div class="small1">
                    <img src="assets/Image 10.png">
                </div>
            </div>
            <div class="bigbox">
                <img src="assets/Image 7.png">
            </div>
        </div>
        <div class="butto">
            <button class="notify">NOTIFY ME</button>
            <button style="background-color: rgb(25, 21, 21); display: flex; align-items:
          center; justify-content: center; gap: 10px; color:white; margin-left:10px;cursor:pointer;width:150px"><span class="material-symbols-outlined"
          style="font-size: 18px;">
            favorite
            </span> WISHLIST </button>
        </div>
    </div>
    <div class="mainr">
        <div class="content">THE ALCHEMIST
            <div class="author">by Paulo Corleno
            </div>
            <div class="ratnum">
                <div class="rating">
                    <p>4.5</p>
                    <span class="material-symbols-outlined">
                    star
                    </span>
                </div>

            </div>
            <div class="rate">
                Rs 1500
            </div>
            <div class="ion">
                <div class="detail">
                    Book Detail
                </div>
                <div class="lore">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate ex quas obcaecati laborum, esse quaerat dolore rem culpa adipisci, alias modi. Modi amet assumenda, distinctio cupiditate dolore consectetur impedit sequi esse sapiente
                    voluptas perferendis aspernatur odit, provident dolores sit? Repudiandae voluptatum modi voluptatibus quasi et corrupti exercitationem quisquam, sapiente molestiae?
                </div>
            </div>
            <div class="feedback">Customer Feedback
            </div>
            <div class="overall">
                <div class="overallr">
                    Overall Rating
                </div>
                <div class="stars">
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span class="material-symbols-outlined">
                        star
                    </span>
                </div>
                <div class="review">
                    <input type="text" placeholder="Write your review">
                </div>
                <div class="subbut">
                    <button class="sub">Submit
                        </button>
                </div>
            </div>
            <div class="namereview">
                <img src="assets\Screenshot 2024-04-03 180200.png">
            </div>
        </div>
    </div>
</div>