<div class="optionss">
    <div class="home">Home</div>
    <div class="cart">/ My Cart</div>
</div>
<div class="item">
    <div class="heading">
        My Cart(1)
    </div>
    <div class="content">
        <img src="assets/Image 7.png">
        <div class="bookname">
            THE ALCHEMIST
            <div class="authorname">
                by Paulo Coelino
            </div>
            <div class="rate">
                Rs. 1500
                <div class="orrate">
                    R̶s̶2̶0̶0̶0̶
                </div>
            </div>
            <div class="quantity">
                <div class="minus">
                    <span class="material-symbols-outlined">
                        arrow_circle_down
                        </span>
                </div>
                <div class="actualq">1
                </div>
                <div class="plus">
                    <span class="material-symbols-outlined">
                        arrow_circle_up
                        </span>
                </div>
                <div class="remove">
                    Remove
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="custnew">
        <div class="customerdet">
            Customer Details
        </div>
        <div class="addnew">
            <button class="new">Add New Address</button>
        </div>
    </div>
    <div class="namenumber">
        <div class="fullname">
            Full Name
            <div class="fulltext">
                <input type="text">
            </div>
        </div>
        <div class="mobile">
            Mobile Number
            <div class="mobiletext">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="add">
        <div class="addd">
            Address
        </div>
        <div class="addtext">
            <input type="text">
        </div>
    </div>
    <div class="namenumber">
        <div class="fullname">
            city/town
            <div class="fulltext">
                <input type="text">
            </div>
        </div>
        <div class="mobile">
            State
            <div class="mobiletext">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="type">
        <div class="ty">
            Type
        </div>
        <div class="options">
            <input type="radio" id="option1" name="options" class="custom-radio">
            <label for="option1">Home</label>
            <input type="radio" id="option2" name="options" class="custom-radio">
            <label for="option2">Work</label>
            <input type="radio" id="option3" name="options" class="custom-radio">
            <label for="option2">Other</label>
        </div>
    </div>
</div>
<div class="itemm">
    <div class="heading">
        Order Summary
    </div>
    <div class="content">
        <img src="assets/Image 7.png">
        <div class="bookname">
            THE ALCHEMIST
            <div class="authorname">
                by Paulo Coelino
            </div>
            <div class="rate">
                Rs. 1500
                <div class="orrate">
                    R̶s̶2̶0̶0̶0̶
                </div>
            </div>
        </div>
    </div>
    <div class="checkout">
        <button class="check">
            CHECKOUT
        </button>
    </div>
</div>